/*#region ------- HOME*/
html, body{
    height: 100%;
    background-color: black;
    display: flex;
    flex-flow:column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#red{
    background-color: rgb(29, 16, 22);
}

#green{
    background-color: rgb(16, 28, 29);
}

#blue{
    background-color: rgb(11,11,19);
}

.home-container{
    display:grid;
    flex-grow: 1;
    gap: 15px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(150px, 500px) 1fr;
    background: linear-gradient(rgb(61, 42, 39), rgb(27, 19, 17));
}

.home-item{
    border: 1px solid black;
    overflow: hidden;
    position:relative;
    z-index:1;
}

.home-border{
    display:grid;
    padding-left:10px;
    padding-right:10px;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(61, 42, 39);
    height: 40px;
}

.home-border .top-box1, .home-border .top-box2, .home-border .top-box3{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.home-border .top-box3{
    border-right: 1px solid black;
}

.sub-border {
    display:grid;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    grid-template-columns: 125px 1fr 125px;
    background-color: rgb(61, 42, 39);
    height: 60px;
}

.sub-border .top-box1, .sub-border .top-box2, .sub-border .top-box3{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.sub-border .top-box3{
    border-right: 1px solid black;
}

.sub-border h1, .sub-border h3{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #e6dcd4;
    text-align: center;
    margin:0;
}

.top-box1:hover .left, .top-box3:hover .right{
    padding: 10px;
}

.arrow {
    border: solid #e6dcd4;
    border-width: 0 3px 3px 0;
    display: inline-block;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    padding: 5px;
    transition: padding 0.3s ease;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    padding: 5px;
    transition: padding 0.3s ease;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.banner {
    background-color: rgb(61, 42, 39);
    min-height: 200px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6dcd4;
    font-size: 30px;
}

.sub-banner {
    background-color: rgb(61, 42, 39);
    display: flex;
    min-height: 150px;
    max-height: 150px;
    align-items: center;
    justify-content: center;
    color: #e6dcd4;
    font-size: 30px;
}

.shadow-box{
    width:100%;
    height:50px;
    display: flex;
    position:absolute;
    color:rgb(226, 226, 226);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size:20px;
    text-decoration: none;
    transition-property: text-decoration;
    transition-duration: 0.5s;
    z-index: 4;
}

.box1{
    background-color: rgba(11, 11, 19, 0.85);
}

.box2{
    background-color: rgba(29, 16, 22, 0.85);
}

.box3{
    background-color: rgba(16, 28, 29, 0.85);
}

.shadow-overlay{
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.5s ease;
    z-index: 3;
}

.home-item img{
    height:100%;
    width: 100%;
    object-fit:cover;
    z-index: 2;
    position:relative;
}

.menu-item{
    height: 100%;
    transition-property:height box-shadow;
    transition-duration: 0.5s;
    z-index: 4;
}

.menu-item:hover{
    height: 120%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.95);
}

.menu-item:hover  .shadow-overlay{
    background-color: rgba(0,0,0,0);
}

.menu-item:hover .shadow-box{
    text-decoration: underline;
}

.item4, .hf-box1{
    background-color: rgb(11, 11, 19);
}

.item5, .hf-box2{
    background-color: rgb(29, 16, 22);
}

.item6, .hf-box3{
    /*background-color: rgb(17, 27, 20);*/
    background-color: rgb(16, 28, 29);
}

footer{
    color:rgb(226, 226, 226);
    weight: 400;
    float: right;
    padding-right: 20px;
    font-style: italic;
    font-size: small;
}
/*#endregion*/
/*#region ------- ABOUT*/
.sub-container{
    display:grid;
    flex-grow: 1;
    gap:10px;
    padding: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.25fr 2.5fr 0.25fr 60px;
    background: linear-gradient(rgb(61, 42, 39), rgb(27, 19, 17));
}

.about-item{
    background-color:rgb(11, 11, 19);
    border: 1px solid black;
    overflow: hidden;
    position:relative;
    z-index:1;
}

.about-item img{
    height:100%;
    width: 100%;
    object-fit:cover;
    position:absolute;
    padding:0;
    margin:0;
}

.a-item1, .a-item3,
.f-item1, .f-item3,
.h-item1, .h-item3{
    grid-row: span 2;
}

.a-item2, .f-item2, .h-item2{
    grid-row: span 3;
    display:flex;
    flex-direction: column;
    color: #e6dcd4;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 550;
    font-size: 1.5vh;
    line-height: 1.5;
    text-indent: 30px;
}

.a-item6, .f-item6, .h-item6{
    grid-column: span 3;
}

.home-button{
    width: 125px;
}

.home-button:hover .left{
    padding: 10px;
}

.a-item6 h3,
.f-item6 h3,
.h-item6 h3{
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #e6dcd4;
    text-align: center;
    margin:0;
}

.family-item{
    background-color: rgb(29, 16, 22);
    border: 1px solid black;
    overflow: hidden;
    position:relative;
    z-index:1;
}

.family-item img{
    height:100%;
    width: 100%;
    object-fit:cover;
    position:absolute;
    padding:0;
    margin:0;
}

.hobby-item{
    background-color: rgb(16, 28, 29);
    border: 1px solid black;
    overflow: hidden;
    position:relative;
    z-index:1;
}

.hobby-item img{
    height:100%;
    width: 100%;
    object-fit:cover;
    position:absolute;
    padding:0;
    margin:0;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:auto;
    padding:0;
    margin:0;
}

figcaption{
    color: rgb(226, 226, 226);
    font-style:italic;
    font-size:small;

}
/*#endregion*/